body {
    background-color: rgb(215, 250, 215);
    font-family: cursive;
}

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: rgb(86, 211, 115);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    text-align: center;
    /*background-color: aquamarine;*/
    height: 100%;
}

.cartao__conteudo h3 {
    background-color: rgb(38, 169, 24);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1.3vw;
}





footer {
    background-color: rgb(55, 138, 51);
    color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}