body {
    background-color: rgb(215, 250, 215);
    font-family: cursive;
}

footer {
    background-color: rgb(55, 138, 51);
    color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}